<div class="message-container">
    <div class="first-message">
      <img src="images/rulerpen.svg" alt="" />
      <h3>Led Ask Possible Mistress</h3>
      <p>
        Connection has put impossible own<br />
        apartments boisterous. At jointure ladyship<br />
        an insisted so humanity he. Friendly bachelor<br />
        entrance to on by.
      </p>
    </div>
    <div class="second-message">
      <img src="images/bulb.svg" alt="" />
      <h3>Elegance Eat Likewise</h3>
      <p>
        From they fine john he give of rich he. They<br />
        age and draw mrs like. Improving end<br />
        distrusts may instantly was household<br />
        applauded incommode.
      </p>
    </div>
    <div class="third-message">
      <img src="images/printer.svg" alt="" />
      <h3>Message Oram Nothing</h3>
      <p>
        Why kept very ever home mrs. Considered<br />
        sympathize ten uncommonly occasional<br />
        assistance sufficient not. Letter of on become<br />
        he tended active enable to.
      </p>
    </div>
  </div>
  <div class="crypto">
    <div class="crypto-content">
      <h2>Track your crytpo portfolio on the<br /> best way possible</h2>
      <div><button class="crypto-btn">Check it out</button></div>
    </div>
  </div>