<div class="hero">
    <div class="description">
      <h1>
        Managing business<br />
        payments has never<br />
        been easier
      </h1>
      <p>
        Yet bed any for travelling assistance indulgence<br />
        unpleasing. Not thoughts all exercise blessing.<br />
        Indulgence way everything.
      </p>
      <div class="description-btns-container">
        <button class="description-btn">Our Process</button>
        <span class="icon-text"
          ><i class="fa-solid fa-circle-play fa-3x"></i><a href="#">See How It Works</a></span
        >
      </div>
    </div>
    <div class="gettingStartted">
      <form action="">
        <h2>Get Started for Free</h2>
        <div class="form-group"><input type="email" placeholder="Email Address" /></div>
        <div class="form-group"><input type="password" placeholder="Password" /></div>
        <button class="form-btn">GET STARTED</button>
      </form>
    </div>
  </div>